<header>
    <nav>
        <a href="/">MyInfo</a>
    <ul>
        <li><a href="/users">Users</a></li>
        <li><a href="/users/new">Add Users</a></li>
        <li><a href="/infos">Info</a></li>
        <li><a href="/infos/new">Add Info</a></li>
    </ul>
    </nav>

</header>