<label>Title</label>
<input type="text" name="title" value="<%= info.title %>">
<label>User</label>
<select name="user">
<% users.forEach(user => { %>

    <% if (user.id === info.user) { %>

        <option selected label="<%= user.name %>" value="<% user.id%>">
        <% } else { %>
        <option  label="<%= user.name %>" value="<% user.id%>">
    <% } %>
  
<% })%>
</select>

<div> 
   <label> File</label> 
   <input type="file"> name="File" >
</div>